.grid_body {
  height: 400px;
  /* background-color: yellow; */
}

.img {
  height: 280px;
  background-image: url("/public/img1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
}

.topic {
  display: inline-flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.topic > p {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
