.grid_body {
  height: 450px;
  /* background-color: yellow; */
}

.img {
  height: 280px;
  /* background-image: url("/public/img1.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
}

.topic {
  display: inline-flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.topic > p {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.creatDate {
  color: #6c757d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.gridHeaderText {
  width: 273px;
  margin-top: 15px;
}

.gridHeaderText > p {
  color: #495057;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.gridText {
  margin-top: 15px;
}

.gridText > p {
  color: #6c757d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
