@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  /* overflow: hidden; */
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}
